<main class="main">
    <header>
        <div>
            <h1>Todo Angular</h1>
        </div>
    </header>
    <div>
        <form>
            <input
                [(ngModel)]="newTodo"
                #todoInput
                placeholder="Enter new todo"
                type="text"
                name="todo"
            />
            <button (click)="addTodo()">Add</button>
        </form>
        <ul>
            @for (todo of todos; track $index) {
            <app-todo
                [index]="$index"
                [todo]="todo"
                (onDelete)="deleteTodo($event)"
                (onEdit)="editTodo($event)"
            ></app-todo>
            } @empty {
            <li>No todo yet</li>
            }
        </ul>
    </div>
</main>
<router-outlet />
